# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# DATABASE_URL=""



# Puerto de la app (Render usará su propio valor, pero puedes dejar uno por defecto)
PORT=3000
# Configuración de la base de datos
DATABASE=inyecciones
USER=usuario_db
PASSWORD=contraseña_db
HOST=localhost
# Si usas una URL de conexión completa (por ejemplo, para PostgreSQL en Render):
# DATABASE_URL=postgresql://usuario:contraseña@host:puerto/nombre_db