body {
   font-family: 'Josefin Sans', sans-serif;
   background: #b88cd2;
}

.login {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  
  &__form {
    background: #FFF;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
    padding: 80px;
  }
  
  &__form-input {
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    box-shadow: none;
    padding: 30px;
 }

  &__form-btn {
    background: #b88cd2;
    border: none;
    color: #FFF;
    height: 50px;
    width: 100%;
    text-transform: uppercase;
  }
}