<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesi칩n</title>
     <link rel="stylesheet" href="/src/public/style.css">
</head>
<body>


   <div class="container">
          <div class="form-block">
        <form class="form-input" action="/ingresar" method="POST">
        <h3>Iniciar Sesi칩n</h3>
        <br>
          <input
            type="text"
            name="nickname"
            placeholder="Usuaria"
            class="form-control mb-2"
            autofocus
          />
          <input
            type="password"
            name="pass"
            placeholder="Contrase침a"
            class="form-control mb-2"
          />
  
          <button type="submit" class="btn btn-info">Inciar Sesi칩n</button>
        </form>
        </div>


  
</body>
</html>